<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/main.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <title>Todo List</title>
 </head>

<body>
  <main>
    <nav class="navbar navbar-expand-lg custom-navbar">
      <div class="container-fluid">
        <div class="brand">
          <a class="navbar-brand" href="/home">
            <img src="images/logo.png" alt="logo-image" height="50" width="50">
            Blue Beetle
          </a>
        </div>

        <div class="center-nav">
          <ul class="navbar-nav">
            <li class="nav-item px-3">
              <a class="nav-link active" aria-current="page" href="/home"><i class="fa-solid fa-house"></i>Home</a>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link" href="/today"><i class="fa-solid fa-calendar-days"></i>Today</a>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link" href="/work"><i class="fa-solid fa-briefcase"></i>Work</a>
            </li>
          </ul>
        </div>

        <!-- Hamburger Icon (Only for Small Screens) -->
        <button class="navbar-toggler d-lg-none" type="button" id="sidebarToggle">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>

    <!-- Sidebar (Only for Small Screens) -->
    <div class="sidebar" id="sidebar">
      <ul>
        <li class="nav-item px-3">
          <a class="nav-link active" aria-current="page" href="/home"><i class="fa-solid fa-house"></i>Home</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" href="/today"><i class="fa-solid fa-calendar-days"></i>Today</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" href="/work"><i class="fa-solid fa-briefcase"></i>Work</a>
        </li>     
      </ul>
      <div class="links-container">
      <a href="https://www.linkedin.com/in/gagandeep-singh-225a5223b" class="links"><i class="fa-brands fa-linkedin"></i></a>
      <a href="https://github.com/Gagandeep-2003" class="links"><i class="fa-brands fa-github"></i></a>
      <a href="https://www.facebook.com" class="links"><i class="fa-brands fa-facebook"></i></i></a>
      </div>
      <p class="footer-sideabar">Gagan Copyright © <%= new Date().getFullYear() %></p>
    </div>

    <label class="switch">
      <input type="checkbox" id="neon-toggle">
      <span class="slider"></span>
    </label>

    <div class="contained">
