<%- include("partials/header.ejs") %>



<div class="home">
    <h1>Create Your Todo List</h1>
    <p class="leading">Boost your productivity and stay organized with our intuitive to-do list app. Manage tasks, set priorities, and conquer your goals effortlessly. Try it now and streamline your life, and if you find any problem regard using this application then click on the instructions button given below !</p>

    <button id="instruct-btn">
        <span class="shadow"></span>
        <span class="edge"></span>
       <a href="/Instructions"> <span class="front text"> Instruction
        </span></a>
      </button>
</div>

<%- include("partials/footer.ejs") %> 
